/* Icons */
/* Fonts */
/* Box characteristics */
/* Colors */
/* container backgrounds */
/* Tables */
/* Margins/paddings */
/* Font sizes */
/* Border radius */
/* code highlighting */
/* Fonts */
/* Box characteristics */
/* Colors */
/* container backgrounds */
/* Tables */
/* Margins/paddings */
/* Font sizes */
/* Border radius */
/* code highlighting */
/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,horizontal,vertical
s,m,l,n = small(5px),medium(10px),large(20px),none(0px)
*/
/* line 5, /Users/nikolaionken/dev/bonsai/_sass/buttons.scss */
button {
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #111926;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
}

/* Custom buttons */
/* line 21, /Users/nikolaionken/dev/bonsai/_sass/buttons.scss */
button.twitter,
button.facebook {
  background-position: center center;
  background-repeat: no-repeat;
  padding-left: 38px;
  padding-right: 16px;
}

/* line 27, /Users/nikolaionken/dev/bonsai/_sass/buttons.scss */
button.twitter {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2230px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2030%2030%22%20enable-background%3D%22new%200%200%2030%2030%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M29.002%2C6.603c-0.994%2C0.441-2.062%2C0.74-3.182%2C0.875c1.143-0.688%2C2.021-1.776%2C2.436-3.073%0A%09c-1.07%2C0.636-2.256%2C1.098-3.52%2C1.347c-1.01-1.079-2.449-1.754-4.043-1.754c-3.062%2C0-5.542%2C2.487-5.542%2C5.555%0A%09c0%2C0.437%2C0.049%2C0.859%2C0.144%2C1.266C10.69%2C10.587%2C6.607%2C8.376%2C3.874%2C5.015c-0.477%2C0.82-0.75%2C1.774-0.75%2C2.793%0A%09c0%2C1.927%2C0.978%2C3.627%2C2.465%2C4.623c-0.908-0.029-1.763-0.279-2.51-0.695c0%2C0.023%2C0%2C0.047%2C0%2C0.07c0%2C2.691%2C1.91%2C4.937%2C4.445%2C5.447%0A%09c-0.465%2C0.127-0.955%2C0.195-1.459%2C0.195c-0.357%2C0-0.704-0.035-1.043-0.101c0.705%2C2.207%2C2.751%2C3.812%2C5.176%2C3.857%0A%09c-1.896%2C1.488-4.286%2C2.377-6.882%2C2.377c-0.447%2C0-0.888-0.025-1.322-0.077C4.447%2C25.081%2C7.359%2C26%2C10.488%2C26%0A%09c10.192%2C0%2C15.766-8.464%2C15.766-15.805c0-0.24-0.006-0.48-0.018-0.718C27.32%2C8.694%2C28.26%2C7.717%2C29.002%2C6.603z%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  background-color: #32ccfe;
}

/* line 32, /Users/nikolaionken/dev/bonsai/_sass/buttons.scss */
button.facebook {
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2230px%22%20height%3D%2230px%22%20viewBox%3D%220%200%2030%2030%22%20enable-background%3D%22new%200%200%2030%2030%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M20.402%2C14.998h-3.127v11.33h-4.688v-11.33h-2.343v-3.905h2.343V8.749c0-3.185%2C1.323-5.079%2C5.079-5.079%0A%09h3.129v3.904h-1.955c-1.463%2C0-1.562%2C0.547-1.562%2C1.564l-0.006%2C1.954h3.543L20.402%2C14.998z%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  background-color: #49639e;
}

/* line 37, /Users/nikolaionken/dev/bonsai/_sass/buttons.scss */
button.submit {
  background: #d3d3d3;
  color: #5f5f5f;
}
