@import "icon-helper";
@import "base";
@import "spacing";

button {
  border: none;
  @include border-radius($secondaryBorderRadius);
  background-color: $primaryColor;
  color: $primaryColorContrast;
  cursor: pointer;
  display: inline-block;
  @include pvs;
  @include phm;
  text-transform: uppercase;
  font-size: $fontSizeMedium;
  line-height: $lineHeightMedium;
}

/* Custom buttons */
button.twitter,
button.facebook {
  @include icon;
  @include pll;
  @include prs;
}

button.twitter {
  @include icon-twitter;
  background-color: #32ccfe;
}

button.facebook {
  @include icon-facebook;
  background-color: #49639e;
}

button.submit {
  // TODO: abstract
  background: #d3d3d3;
  color: #5f5f5f;
}
