@import "compass/reset";
@import "compass/css3";
@import "compass/css3/transform";
@import "compass/layout/stretching";
@import "compass/css3/user-interface";
@import "buttons";
@import "icons";
@import "icon-helper";
@import "animate";
@import "base";
@import "grid";
@import "image-helper";
@import "spacing";

body {
  min-width: 960px;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400;
  color: #acb2bb;
  @include page-background;
}

.container {
  @include container;
  min-width: 936px;
}
.containerWithoutPadding {
  @include container;
  padding: 0;
  min-width: 960px;
}

/* general text stuff */
strong, b {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  color: rgb(38, 171, 146);
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

h3 {
  text-align:center;
  font-size:$fontSizeLarge;
  font-weight: 500; /* medium */
  margin-bottom:$marginLarge;
}

.code {
  font-family:inconsolata, sans-serif;
  font-weight:500;
  background-color: $codeBlockBackgroundColor;
  padding: $paddingExtraSmall;
  @include border-radius($borderRadiusSmall);
  margin-top: $marginExtraSmall;
  margin-bottom: $marginSmall;
  letter-spacing:0.1em;

  .instance, .inst-method, .class-method {
    font-weight: 600;
  }
  .instance {
    color:$codeBlockInstanceTextColor;
  }
  .inst-method {
    color:$codeBlockInstanceMethodTextColor;
  }
  .stage {
    color:$codeBlockStageTextColor;
  }
  .string {
    color:$codeBlockStringTextColor;
  }
}

header {
  margin-top: $marginLarge;
  text-transform: uppercase;
  font-weight: 600;

  .container {
    position:relative;

    #logo img {
      width: 150px;
      height: 180px;
    }

    .nav {
      text-align: right;
      position:absolute;
      top:50%;
      right:$marginSmall;

      ul {
        display: inline;
      }
      li {
        margin-left: 45px; // Custom
        display:inline-block;

        a {
          color:$primaryColorContrast;
        }
      }
    }
  }
}

#tagline {

  margin-top:$marginExtraLarge;
  position:relative;

  h1 {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    font-weight: 500; /* medium */
    text-align:center;
    line-height:45px;
    color:rgb(112,173,177);
    font-size:$fontSizeExtraLarge;
  }

  .background {
    width:865px;
    height:45px;
    margin:0 auto;
    background:rgb(25, 37, 49);
    @include skewX(-20deg);
    @include border-radius($borderRadiusMedium);
  }

}

#features {

  margin-top:$marginExtraLarge;
  overflow:hidden;

  .left {
    float:left;
    width:50%;
  }
  .right {
    float:left;
    width:50%;
  }

  h4 {
    color:rgb(89, 74, 118);
    margin-bottom:$marginSmall;
    font-size:$fontSizeLarge;
    font-weight:600;
    text-transform:uppercase;
  }

  h5 {
    margin-top:$marginSmall;
    font-weight: bold;
  }

  ul {
    margin-top:$marginExtraSmall;
    margin-bottom:$marginSmall;

    li {
      line-height:$lineHeightLarge;
      list-style:disc inside;
      padding-left:$paddingSmall;
    }
  }

  .community {
    margin-top: $marginSmall;
  }

  .featured {
    margin-top: $marginSmall;

    i {
      width: 20px;
      height: 20px;
      vertical-align: middle
    }
  }

  .testdrive {
    margin-top: 29px; // Custom
  }
}

#demo {

  margin:$marginExtraLarge auto 0 auto;
  overflow:hidden;
  position:relative;
  height:210px;

  .containerWithoutPadding {
    background-color: $primaryColor;
  }

  .rounded-rects-left, .rounded-rects-right {
    position:absolute;
    width: 50%;
    height: 210px;
    @include demo-section-background;
  }
  .rounded-rects-left {
    background-position: 100% bottom;
    margin-right: 483px;
    right: 50%;
  }
  .rounded-rects-right {
    margin-left: 490px;
    left: 50%;
  }

  li {
    @include border-radius($borderRadiusLarge);
    background-color: #403452;
    margin:2px 10px 0 0;
    float:left;
    width:184px;
    height:145px;
  }

  li:last-child {
    margin-right:0;
  }

  a {
    width:100%;
    height:100%;
    display:inline-block;
  }

  .bubble-demo {
    @include bubble-demo-background;
  }

  .pong-demo {
    @include pong-demo-background;
  }

  .chart-demo {
    @include chart-demo-background;
  }

  .shapes-demo {
    @include shapes-demo-background;
  }

  .ring-demo {
    @include ring-demo-background;
  }
}

#browser-support {
  margin:$marginExtraLarge auto 0 auto;
  position:relative;

  i {
    vertical-align: middle;
    width: 45px;
    height: 45px;
  }

  table {
    border-collapse: separate;
    margin: 0 auto;

    td {
      border: 1px solid #2f3643;
      border-right: none;

      padding: 15px;
    }

    td:first-child {
      @include border-radius(6px 0 0 6px);
    }

    td:last-child {
      @include border-radius(0 6px 6px 0);
      border-right: 1px solid #2f3643;
    }
  }
}

#the-art-of-bonsai {
  margin-top:$marginExtraLarge;
  text-align:center;
  font-size: $fontSizeLarge;
  font-weight: 500; /* medium */;

  .startquote, .endquote {
    display: inline-block;
    color: green;
    font-size: $fontSizeSuperLarge;
    line-height: $lineHeightExtraSmall;
  }
  .endquote {
    @include rotate(-180deg);
  }
}

footer {
  position: relative;

  text-align:center;
  color: rgb(57,65,76);
  font-weight: 500; /* medium */;
  height: 160px;

  margin-top: $marginExtraLarge;

  .flowers-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    height: 160px;
    overflow: hidden;
  }
  .flowers-left, .flowers-right {
    position:absolute;
    width: 50%;
    background-size: 900px auto;
    height: 160px;
    @include flower-background;
  }
  .flowers-left {
    margin-left: -280px;
    background-position: right bottom;
  }
  .flowers-right {
    margin-right: -280px;
    background-position: left bottom;
    right: 0;
  }

}

#teaser-movie {
  .container {
    height:460px;
    position:relative;
    overflow: hidden;
  }

  .planet {
    position:absolute;
    width: 500px;
    height: 430px;
    left:215px;
    top:20px;
    @include planet-background;
    @include animate(planetAnim, 3s, infinite);
  }

  .orbit {
    position: absolute;
    width: 800px;
    height: 300px;
    left: 91px;
    top: 170px;
    @include orbit-background;
  }

  .flyingsaucer {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 400px;
    top: -9px;
    @include flying-saucer-background;
  }

  .satellite {
    position: absolute;
    width: 120px;
    height: 70px;
    left: 60px;
    top: 150px;
    @include satellite-background;
  }

  .spaceship {
    position: absolute;
    width: 500px;
    height: 450px;
    left: 240px;
    top: 5px;
    @include spaceship-background;
  }

  .downloadship {
    position:absolute;
    width: 500px;
    height: 200px;
    left:490px;
    top:50px;
    @include downloadship-background;

    a {
      display:inline-block;
      text-transform: uppercase;
      font-size: $fontSizeExtraLarge;
      color: white;
      @include transform(matrix(1, -0.07, 0, 1, 150, 135));
    }
  }
}

#contact {
  @include ptm;

  background: $quaternaryColor;
  color: $quaternaryColorContrast;


  @include pbx;

  #envelope {
    /* Without warming up the GPU we get font
       rendering issues in Chrome 20.0.1132.57 */
    @include translate3d(0,0,0);

    position: relative;
    @include mtx;
    background: $senaryColor;
    color: $senaryColorContrast;
    @include border-radius($borderRadiusMedium);
  }
}
