@import "compass/reset";
@import "compass/css3";
@import "compass/css3/transform";
@import "compass/layout/stretching";
@import "compass/css3/user-interface";
@import "buttons";
@import "icons";
@import "icon-helper";
@import "animate";
@import "base";
@import "grid";
@import "image-helper";
@import "spacing";

body {
  min-width: 960px;
  font-family:"proxima-nova",sans-serif;
  color:rgb(172, 178, 187);
  @include page-background;
}

.container {
  @include container;
  min-width: 936px;
}

/* general text stuff */
strong, b {
  font-weight: 600;
}

em {
  font-style: italic;
}

a {
  color: rgb(38, 171, 146);
  text-decoration:none;
}

.code {

  background-color: $codeBlockBackgroundColor;
  padding: $paddingExtraSmall;
  @include border-radius($borderRadiusSmall);
  margin-top: $marginExtraSmall;
  margin-bottom: $marginSmall;
  letter-spacing:0.1em;

  .instance, .inst-method, .class-method {
    font-weight: 600;
  }
  .instance {
    color:$codeBlockInstanceTextColor;
  }
  .inst-method {
    color:$codeBlockInstanceMethodTextColor;
  }
  .class-method {
    color:$codeBlockClassMethodTextColor;
  }
  .stage {
    color:$codeBlockStageTextColor;
  }
  .string {
    color:$codeBlockStringTextColor;
  }
}

header {
  margin-top: $marginLarge;
  text-transform: uppercase;
  font-size: $fontSizeSmall;
  font-weight: 600;

  .container {
    position:relative;

    #logo img {
      width: 150px;
      height: 180px;
    }

    .nav {
      text-align: right;
      position:absolute;
      top:50%;
      right:$marginSmall;

      ul {
        display: inline;
      }
      li {
        margin-left: 45px; // Custom
        display:inline-block;

        a {
          color:$primaryColorContrast;
          text-decoration:none;
        }
        a:hover {
          text-decoration:underline;
        }
      }
    }
  }
}

#tagline {

  margin-top:$marginExtraLarge;
  position:relative;

  h1 {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    text-align:center;
    line-height:45px;
    color:rgb(112,173,177);
    font-size:$fontSizeExtraLarge;
  }

  .background {
    width:890px;
    height:45px;
    margin:0 auto;
    background:rgb(25, 37, 49);
    @include skewX(-20deg);
    @include border-radius($borderRadiusMedium);
  }

}

#features {

  margin-top:$marginExtraLarge;
  overflow:hidden;

  .left {
    float:left;
    width:50%;
  }
  .right {
    float:left;
    width:50%;
  }

  h4 {
    color:rgb(89, 74, 118);
    margin-bottom:$marginSmall;
    font-size:$fontSizeLarge;
    font-weight:600;
    text-transform:uppercase;
  }

  h5 {
    margin-top:$marginSmall;
  }

  ul {
    margin-top:$marginExtraSmall;
    margin-bottom:$marginMedium;

    li {
      line-height:$lineHeightLarge;
      list-style:disc inside;
      padding-left:$paddingSmall;
    }
  }
}

#demo {

  margin-top:$marginExtraLarge;
  overflow:hidden;
  height:210px;
  @include demo-section-background;

  h3 {
    color: white;
    text-align:center;
    font-size:$fontSizeLarge;
    margin-bottom:$marginLarge;
  }

  .container {
    @include demo-movie-background;
  }

  li {
    float:left;
    width:220px;
    height:150px;
  }

}

footer {
  position: relative;

  background: $quinaryColor;
  color: $quinaryColorContrast;

  @include pvs;

  a {
    color: #fff;
  }

  #social {
    float: left;
  }

  #legal {
    @include translate3d(0,0,0);

    text-align: right;
    float: right;

    ul {
      @include mts;
      font-size: $fontSizeSmall;
    }
  }

  .nav {
    text-transform: uppercase;
  }
}

#teaser-movie {
  .container {
    height:460px;
    position:relative;
  }

  .planet {
    position:absolute;
    width: 500px;
    height: 430px;
    left:215px;
    top:0;
    @include planet-background;
    @include animate(planetAnim, 5s, infinite);
  }

  .orbit {
    position: absolute;
    width: 800px;
    height: 300px;
    left: 90px;
    top: 160px;
    @include orbit-background;
  }

  .flyingsaucer {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 400px;
    top: -9px;
    @include flying-saucer-background;
  }

  .satellite {
    position: absolute;
    width: 120px;
    height: 70px;
    left: 60px;
    top: 150px;
    @include satellite-background;
  }

  .spaceship {
    position: absolute;
    width: 500px;
    height: 450px;
    left: 250px;
    top: -5px;
    @include spaceship-background;
  }
}

#contact {
  @include ptm;

  background: $quaternaryColor;
  color: $quaternaryColorContrast;


  @include pbx;

  #envelope {
    /* Without warming up the GPU we get font
       rendering issues in Chrome 20.0.1132.57 */
    @include translate3d(0,0,0);

    position: relative;
    @include mtx;
    background: $senaryColor;
    color: $senaryColorContrast;
    @include border-radius($borderRadiusMedium);
  }
}
