@import "base";
@import "icon-helper";

table {
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

/* Base table */
/* ---------- */

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: $primaryCellPadding 0 $primaryCellPadding $primaryCellPadding;
    text-align: left;
    vertical-align: top;
    margin: 0px;
    background-color: $primaryTableBackgroundColor;
    color: $primaryTableColor;
    @include background-clip(padding-box);
  }

  th:first-child,
  td:first-child {
    padding-right: $primaryCellPadding;
  }

  th, td {
    &.error {
      background-color: #F04C5C;
    }
    &.warning {
      background-color: #ffe471;
      color: #383934;
    }
  }

  tr {
  }

  /* No border outside */
  tr:first-child th {
    border-top: 0;
  }
  tr:last-child td {
    border-bottom: 0;
  }
  tr td:first-child,
  tr th:first-child {
    border-left: 0;
  }
  tr td:last-child,
  tr th:last-child {
    border-right: 0;
  }

  th {
    font-weight: bold;
  }

  /* Bottom align for column headings */
  thead th {
    vertical-align: bottom;
  }

  &.data {
    tr:nth-child(odd) {
      background: #fafafa;
    }

    tr:nth-child(even) {
      background: #f6f6f7;
    }

    td {
      background: none;
    }

    i {
      @include icon-small;
      margin: -6px 0;
    }
  }
}
